<div class="container">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Administrator section</div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="#/adminCategories"><i class="fa fa-list"></i> Categories</a></li>
                    <li role="presentation"><a href="#/adminManagers"><i class="fa fa-list"></i> Managers</a></li>
                    <li role="presentation"><a href="#/" ng-click="logOut()"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="well">
            <h2>Add/Edit Manager</h2>
            <hr>
            <form role="form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="firstname">Firstname</label>
                            <input type="text" class="form-control" id="firstname">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="lastname">Lastname</label>
                            <input type="text" class="form-control" id="lastname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="username">Password</label>
                            <input type="text" class="form-control" id="username">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Confirm password</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="phone">Phone number</label>
                            <input type="text" class="form-control" id="phone">
                        </div>
                    </div>
                    <div class="col-sm-4" ng-controller="DatepickerPopupDemoCtrl">
                        <label for="datetimepicker2">Birth date</label>
                        <div class="form-group">
                            <div class='input-group' id='datetimepicker2'>
                                <input type='text' class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                  </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="phone">Serving Categories</label>
                            <select class="form-control">
                                <option>Shoes</option>
                                <option>T-Shirts</option>
                                <option>Trousers</option>
                                <option>Jackets</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <hr>
                            <a href="#/adminManagers" class="btn btn-primary"><i class="fa fa-user-plus"></i> Confirm</a>
                        </div>
                    </div>
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>
